---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact_form_sidebar.svg";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Connect with Us: Let's Discuss Your Digital Marketing Needs"
    />
    <div class="flex relative justify-between items-start p-[60px] bg-[#F3F3F3] rounded-[45px]">
      <Form />
      <div class="hidden lg:block w-[550px] shrink-0">
        <div class="sticky top-8 mt-[55px]">
          <Image src={decorForm} alt="Contact form sidebar" width={550} />
        </div>
      </div>
    </div>
  </div>
</Section>
