---
import MainLayout from "../layouts/MainLayout.astro";
// import Contact from "../components/sections/Contact.astro";
import Form from "../components/ui/Form.astro";

---

<MainLayout title="Contact us">
    <main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <div class="text-center mb-16">
                <h1 class="mb-4 text-5xl font-medium leading-none tracking-tight md:text-6xl">Contact Us</h1>
                <p class="text-xl font-normal leading-7 mx-auto max-w-3xl">
                    At Our Company, we will upgrade your email marketing by leveraging the latest technology and strategies.
                </p>
            </div>
            <div class="mx-auto w-full max-w-lg">
                <Form rounded />
            </div>
        </div>
    </main> 
</MainLayout>